{# ===========================================================================#}
{# COMPARE GYMS TABLE HTML#}
{# ===========================================================================#}

{% extends 'base.html' %}

{% block title %}Compare{% endblock %}

{% block content %}
    <div class="compare-wrapper">
        <div id="ugym-table">
            <table class="compare-table">
              <thead>
              UGym
                <tr>
                  <th>Access</th>
                  <th>Price</th>
                  <th>Student (20%)</th>
                  <th>Pensioner (15%)</th>
                  <th>Discountable</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Off-Peak</td>
                  <td>£19.99 / month</td>
                  <td>£15.99</td>
                  <td>£16.99</td>
                  <td>Yes</td>
                </tr>

                <tr>
                  <td>Anytime</td>
                  <td>£29.99 / month</td>
                  <td>£23.99</td>
                  <td>£25.50</td>
                  <td>Yes</td>
                </tr>

                <tr>
                  <td>Massage</td>
                  <td>£29.99 / month</td>
                  <td>—</td>
                  <td>—</td>
                  <td>No</td>
                </tr>

              <tr>
                  <td>Physiotherapy</td>
                  <td>£39.99 / month</td>
                  <td>—</td>
                  <td>—</td>
                  <td>No</td>
                </tr>
              </tbody>
            </table>
        </div>
            <div id="powerzone-table">
            <table class="compare-table">
              <thead>
              PowerZone
                <tr>
                  <th>Access</th>
                  <th>Price</th>
                  <th>Student (20%)</th>
                  <th>Pensioner (15%)</th>
                  <th>Discountable</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Off-Peak</td>
                  <td>£17.99 / month</td>
                  <td>£15.50</td>
                  <td>£14.50</td>
                  <td>Yes</td>
                </tr>

                <tr>
                  <td>Anytime</td>
                  <td>£31.99 / month</td>
                  <td>£27.50</td>
                  <td>£25.50</td>
                  <td>Yes</td>
                </tr>

                <tr>
                  <td>Massage</td>
                  <td>£24.99 / month</td>
                  <td>—</td>
                  <td>—</td>
                  <td>No</td>
                </tr>

              <tr>
                  <td>Physiotherapy</td>
                  <td>£44.99 / month</td>
                  <td>—</td>
                  <td>—</td>
                  <td>No</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
{% endblock %}
